/* Fonts : Merrieweather / Monstserrat */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@300;400;700;900&display=swap');

.maincontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar{
    width: 20%;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    border-right: 2px solid rgb(238, 238, 238);
}

.dashinfo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

#profile{
    width: 70px;
    border: 2px solid white;
}

.dashstatcontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hamburg{
    font-size: 35px;
}

.sidenavmenu {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    width: 100%;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-icon {
    font-size: 25px;
}

.menu-text {
    display: inline-block;
}

li:hover {
    background-color: red;
}

.side-nav-list {
    width: 100%;
    text-align: center;
    padding: 0; /* Remove default padding to make width fit to sidebar */
}
