/* Fonts : Plus jakarta sans / Roboto */
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

 *{
    font-family: 'Plus Jakarta Sans','Roboto';
    font-weight: bold;
    font-size: 1em;
 } 

.maincontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar{

    width: 30%;
    background-color: white;
    display: block;
    height: 100vh;
    overflow: hidden;
    border-right: 2px solid rgb(238, 238, 238);  

}

.dashinfo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

#profile{
    width: 70px;
    border: 2px solid white;
}

.sidenavmenu {
    font-family: 'Plus Jakarta Sans','Roboto';
    font-weight: bold;
    font-size: 1em;
    margin-top: 50px;
    width: 100%;
    color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

.sidenav-icon {
    font-size: 1.5em;
    margin-right:10px ;
    color: white;
}

.menu-text {
    display: inline-block;
}

.sidebar-li{
    height: 45px;
    justify-content:left;
    padding-left: 5px;
    border: 1px solid white;
    background-color: #034C3C;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;  
    cursor: pointer;  
}

.sidebar-li:hover {
    background-color: orangered;

}

.side-nav-list {
    width: 90%;    padding: 0; /* Remove default padding to make width fit to sidebar */
}

/* Dashboard content */
.dashstatcontainer{
    width: 100%;
    margin: 5px;
    padding: 5px;
}

header{
    height: 5vh;
    border-bottom: 1px solid rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;

}

.hamburg{
    font-size: 2em;
    cursor: pointer;
    text-align: left;
}

.pots{
    background-color: red;
    height: 25px;
    width: 25px;
}

.stockstatus-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
